header {
  float: right;
  margin-right: 15px;
}

#search-bar {
  width: 440px;
}

.google-logo {
  margin-top: 145px;
}

.search-bar-group {
  width: 500px;
}

.search-logos img{
  vertical-align: middle;
  padding-left: 5px;
  padding-bottom: 2px;
}