body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
}

button {  
  font-weight: bold;
  border-radius: 2px;  
  padding: 0 16px;
  line-height: 27px;
}

.main {
  text-align: center;
  clear: both;
}

.search-button-group {
  margin: 25px 0;
}

header a, footer a, .country {
  text-decoration: none;
  color: #666;
  display: inline-block;
}

footer a, .country {
  padding: 13px;
}

header a {  
  padding: 7px;
}

footer div {
  border-top: 1px solid #e2e2e2;
}

header img {
  vertical-align: middle;
}

header button {
  color: #fff;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  margin: 7px 4px;
  min-width: 30px;  
}

.main a {
  color: #1a0dab;
  text-decoration: none;
}

.main img {
  margin-top: 145px;
}

.search-button-group button {
  color: #757575;
  background-color: #f2f2f2;
  border: #f2f2f2;
  margin: 11px 4px;
  min-width: 54px;  
  height: 36px;
}

.search-bar-group {
  width: 632px;
  box-sizing: border-box;
  background: #fff;
  border: 0.01em outset #eee;
  border-radius: 2px;
  padding: 3px 0 3px 15px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.search-bar-group:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#footer-right {
  float: right;
}

#search-bar {
  height: 34px;
  font-size: 16px;
  border: none;
}