header {  
  background-color: #f9f9f9;
  padding-right: 15px;
  padding-top: 17px;  
  border-bottom: 0.01em solid #eee;
  min-width: 1100px;
}

section {
  margin: 0 0 0 152px;
  width: 632px;
  position: relative;
}

.related-search {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}

.link-table a {
  color: #1a0dab;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  padding: 3px 32px 3px 0;
}

.link-table a:hover {
  text-decoration: underline;
  color: #609;
}

.upper-header-menu {
  position: relative;
}

.search-bar-group {
  width: 632px;
}

#google-logo, .search-bar-group, .sign-in-group {
  display: inline-block;
}

#google-logo {
  padding: 7px 10px 0 13px;
}

#search-bar {
  width: 525px;
}

.tabs {
  list-style: none;
  margin: 20px 0 6px 152px;
  padding-left: 0;
}

.tabs div {  
  display: inline-block;  
}

.tabs li {
  display: inline;
  padding: 11px 8px 8px 8px;
}

.settings {
  margin-left: 100px;
}

.sign-in-group {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

#selected-tab {
  font-weight: bold;
  border-bottom: 3px solid #1A73E8;
  color: #1A73E8;
}

#selected-tab a {
  color: inherit;
}

.results {
  color: #808080;
  line-height: 40px;  
  margin-bottom: 10px;
}

.featured-snnipet {
  border: 0.01em outset #eee;  
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  padding: 5px 11px 5px 0;
}

.featured-snnipet:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.head-ol {
  font-weight: bold;
}

.more-items {
  padding-left: 40px;
  text-decoration: none;
}

.more-items:hover {
  text-decoration: underline;
}

ol li {
  font-size: 16px;
  padding-bottom: 4px;
}

ol {
  margin-left: 0;
  padding-left: 20px;
}

.website-card, .results {
  padding-left: 20px;
}

.website-card {  
  margin-bottom: 26px;
}

.website-title {
  margin-bottom: 0;
}

.website-title a {  
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2em;
  color: #609;
}

.website-title a:hover { 
  text-decoration: underline;  
} 

.website-cite {
  font-style: normal;
  font-size: 14px;
}

.paging {
  border-collapse: collapse;
  margin: 0 auto;
}

.paging td {
  padding: 0; 
  text-align: center;
}

.paging-first div, .paging-link-first div, .paging-link div, .paging-last div {
  background: url("images/nav_logo242.webp") no-repeat;
  height: 40px;
}

.paging-link-first div, .paging-link div {
  width: 20px;
}

.paging-first div {  
  background-position: -24px 0;
  width: 30px;
  padding-bottom: 10px;
}

.paging-link-first div {  
  background-position: -53px 0;
}

.paging-link div {  
  background-position: -74px 0;
}

.paging-link a,  .paging-last a {
  text-decoration: none;
  color: #4285f4;
}

.paging-link a:hover,  .paging-last a:hover {
  text-decoration: underline;
}

.paging-last div {
  background-position: -96px 0;
  width: 71px;
}

.paging-last a {
  padding-left: 55px;
}

.upper-header-menu a {
  text-decoration: none;
}