body {
  margin: 0;
  padding: 0;
}

header {  
  background-color: #f9f9f9;
  padding-right: 15px;
  padding-top: 17px;  
}

#google-logo, .search-bar-group {
  display: inline-block;
}

#google-logo {
  padding: 7px 10px 0 13px;
}

.tabs {
  list-style: none;
}

.tabs div {  
  display: inline-block;
}

.tabs li {
  display: inline;
}

.settings {
  margin-left: 100px;
}